**.DS_Store
__pycache__
.idea
**.json
build
.vscode
**.log
venv
screenshots
.pytest_cache
**.egg-info
downloaded_files
logs/*
**.avd
*.ini
**.db
**.env
**.ovpn
credentials.txt
vpn_config.zip
!find_popup_close_response_schema.json
emulator.cap

dev
